@charset 'utf-8';
@import '../_env.scss';

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: center;
	background: $color_mask;
	overflow-y: auto;
	opacity: 0;
	pointer-events: none;
	transition: opacity $duration_normal linear;

	.modal-section {
		position: relative;
		box-sizing: border-box;
		padding: 80px;
		max-width: $maxwidth_content;
		background: $color_bg;
		color: $color_text;
		transform: scale(.98);
		transition: transform $duration_normal ease-in-out;

		> .header {
			border-bottom: 1px solid;

			.title {
				margin: 0;
				padding: 10px 0;
				font-size: $fontsize_exlarge;
				font-weight: normal;
				text-align: center;
			}

			> nav {
				position: absolute;
				right: 30px;
				top: 30px;

				.modal-close {
					display: block;
					position: relative;
					width: 30px;
					height: 30px;
					color: transparent;

					&::before,
					&::after {
						content: "";
						position: absolute;
						top: 0;
						left: calc(-41.421357%/2);
						bottom: 0;
						margin: auto;
						width: 141.421357%; // 斜辺長＝ルート2
						height: 1px;
						background: $color_text;
					}

					&::before {
						transform: rotate(45deg);
					}

					&::after {
						transform: rotate(-45deg);
					}
				}
			}
		}

		> .body {
			margin: 40px 0 0;
		}
	}

	.modal-mask {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		overflow: hidden;
		color: transparent;
	}

	&:target {
		opacity: 1;
		pointer-events: initial;

		.modal-section {
			transform: scale(1);
		}
	}
}
