@charset 'utf-8';
@import '_env.scss';

html,
body {
	margin: 0;
	padding: 0;
	background: $color_bg;
	color: $color_text;
}

body {
	font-size: $fontsize_normal;
	line-height: $lineheight_normal;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-print-color-adjust: exact;
}

header,
footer,
main,
section,
nav,
article,
figure,
video,
picture {
	display: block;
	margin: 0;
	padding: 0;
	border: 0 none;
}

input,
textarea,
select,
button {
	font-size: 100%;
	font-family: inherit;
}

a {
	color: $color_link;
}
