@charset 'utf-8';

$color_bg: #fff;
$color_text: #000;
$color_mask: rgba(191, 191, 191, 0.6);
$color_link: #24a;

$fontsize_exlarge: 1.5rem;
$fontsize_normal: .875rem;
$fontsize_small: .625rem;

$lineheight_wide: 2em;
$lineheight_normal: 1.5em;
$lineheight_thin: 1.25em;

$maxwidth_content: 960px;

$duration_normal: .4s;
